<p id="notice"><%= notice %></p>

<h1>Listing Friend Pools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friend_pools.each do |friend_pool| %>
      <tr>
        <td><%= friend_pool.name %></td>
        <td><%= link_to 'Show', friend_pool %></td>
        <td><%= link_to 'Edit', edit_friend_pool_path(friend_pool) %></td>
        <td><%= link_to 'Destroy', friend_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend pool', new_friend_pool_path %>
