<%= form_for(@office_pool) do |f| %>
  <% if @office_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office_pool.errors.count, "error") %> prohibited this office_pool from being saved:</h2>

      <ul>
      <% @office_pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
